@font-face {
    font-family: $fontFamilyGilroyRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyGilroyLight;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: $fontFamilyGilroyBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyGilroySemiBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyProximaNovaLight;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: $fontFamilyProximaNovaRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: $fontFamilySeravekMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: $fontFamilySeravekBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: $fontFamilySeravekRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}